body {
  background-color: #ffffff;
  font-family: 'Assistant', sans-serif;
  color: #39375B;
}

.navbar-collapse {
  margin-right: -20px;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #145374;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #145374 !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #11324D;
  color: #fff;
}

.btn-login:hover {
  background-color: #a0b6df;
  color: #fff;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("../images/background.png");
  background-size: cover;
}

header h1, header p {
  color: #fff;
}

header h1 {
  font-family: 'Chewy', cursive;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
  font-family: 'Spartan', sans-serif;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #89A4C7;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
  color: #fff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display' , serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-app .card-app {
  min-height: 380px;
  background-color: #fff;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-app .app {
  font-size: 18px;
  color: #39375B;
}

.section-popular-content .section-popular-app .app-button .btn-app-details {
  background-color: #ff9e53;
  color: #fff;
}

.section-popular-content .section-popular-app .app-button .btn-app-details:hover {
  background-color: #ffaa69;
  color: #fff;
}

.section-pay {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-pay h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-pay p {
  font-size: 18px;
}

.section-pay img {
  max-width: 100%;
}

.section-footer {
  background-color: #ECF2F9;
}

.section-footer a {
  color: #00334E;
}

.section-details-header {
  min-height: 330px;
  background: #E8F1F5;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #00334E;
}

.section-details-content .card-details {
  padding: 50px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 11px;
  color: #b1b1b1;
}

.section-details-content .card-details h3 {
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  color: #00334E;
}

.section-details-content #success
.section-success {
  height: 90vh;
}

.section-details-content #success
.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #00334E;
}

.section-details-content #success
.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content #success
.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #00334E;
  color: #fff;
}

.section-details-content #success
.section-success .btn-home-page:hover {
  background-color: #145374;
  color: #fff;
}

.section-details-content #success
.section-success .send-button .btn-travel-details {
  background-color: #ff9e53;
  color: #fff;
}

.section-details-content #success
.section-success .send-button .btn-travel-details:hover {
  background-color: #ffaa69;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */