body {
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #39375B;
}

// navbar
.navbar-collapse {
    margin-right: -20px;
}
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #145374;

            &.active {
                font-weight: bold;
                color: #145374 !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;

}

.btn-login {
    background-color: #11324D;
    color: #fff;

    &:hover {
        background-color: #a0b6df;
        color: #fff;
    }
}

//header
header {
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url('../images/background.png');
    background-size: cover;

    h1,p {
        color: #fff;
    }

    h1 {
        font-family:'Chewy', cursive;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
        font-family: 'Spartan', sans-serif;
    }
}

//statistics
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 15px;
        background-color: #fff;
        padding-left: 40px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

//popular
.section-popular {
    min-height: 540px;
    background-color: #89A4C7;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;
    
        h2,p {
            color: #fff;
        }

        h2 {
            font-family: 'Playfair Display' , serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }
}

.section-popular-content {
      .section-popular-app {
          .card-app {
              min-height: 380px;
              background-color: #fff;
              color: #fff;
              padding: 30px;
              background-size: cover;
              margin-bottom: 20px;
              
          }
        
          .app {
              font-size: 18px;
              color: #39375B;
          }


          .app-button {
              .btn-app-details {
                  background-color: #ff9e53;
                  color: #fff;
                &:hover {
                    background-color: #ffaa69;
                    color: #fff;
                }

              }
          }
      }  
}

.section-pay {
    background-color:#fff ;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}



//footer
.section-footer {
    background-color: #ECF2F9;
    a {
    color: #00334E;
    }

}

.section-details-header {
    min-height: 330px;
    background: #E8F1F5;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }
    
    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #00334E;
        }
    }

    .card-details {
        padding: 50px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 11px;
            color: #b1b1b1;
        }

        h3 {
            font-weight: 300;
            font-size: 14px;
            text-align: left;
            color: #00334E;
        }
    }
   
    
#success
.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #00334E;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1
    }

    .btn-home-page {
        border-radius: 4px;
        background-color: #00334E;
        color: #fff;

        &:hover {
            background-color: #145374;
            color: #fff;
        }
    }
    .send-button {
        .btn-travel-details {
            background-color: #ff9e53;
            color: #fff;
          &:hover {
              background-color: #ffaa69;
              color: #fff;
          }

        }
    }
}

}